* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.header, .nav, .categories, .featured, .footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-content: space-around;
    justify-content: center;
}

.header {
    background-color: black;
}

.header.text{
    color: white;
    text-align: center;
    padding: 0%;
    margin: 10px;
    
}
.text {
    padding: 20px;
    font-size: medium;
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

.nav {
    justify-content:flex-start;
    background-color: #cbb89d;
    
}
.nav.button {
    border:none;
    border-radius: 4px;
    color: white;
    padding: 20px;
    margin:5px;
    background: none;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-basis: 100px;
    justify-content: center;
}

.nav.button:hover {
    background-color: #ede1d2;
}

.nav.button.logo {
    margin-right: auto;
}

.categories {
    background-color: white;
    font-weight:bold;
}

.categories.button {
    flex:1;
    text-align: center;
    padding: 20px;
    border: none;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.categories.button:hover{
    background-color: grey;
}

.image-ads {
    margin: 35px;
}

.featured{
    background-color: #cbb89d;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.featured.row-one {border-top: 2px solid black;}
.featured.row-four {border-bottom: 2px solid black;}

.product {
    background-color: white;
    border-radius: 10px;
    margin: 20px 30px;
    max-width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.product h3, .product h4 {
    padding:0px 10px 10px;
    align-self: flex-start;
    font-weight: normal;
}

.product h3 {font-weight: bold;}

.product img {
    height:100%;
    width: 100%;
    object-fit: contain;
    padding:20px;
    
}

.product a:visited {color:black}
.product a{color:black}

a.fill-div {
    display: block;
    height: 100%;
    width:100%;
    text-decoration: none;
}

.grow {transition: all .4s ease-in-out;}
.grow:hover {transform: scale(1.05);}
.shrink {transition: all .2s ease-in-out;}
.shrink:hover {transform: scale(0.9); }

.footer {
    background-color: #412f26;
    justify-content: flex-start;
}

.footer.text{
    color:#ede1d2;
    margin:35px 10px;
}

.footer.links {flex-direction: column;}

.footer.links.social, .footer.links.nav{
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 30px;
}

.footer.links button {
    border-radius: 4px;
    color: white;
    justify-content: center;
    border-radius: 4px;
    border: none;
    min-width: 80px;
    align-items: center;
    padding:20px
}
.footer.links button:hover{
    background: #cbb89d;
}

.footer.text.contacts {margin-right: auto;}
p {line-height: 1.2;}